.admin-table th {
    background-color: #3c3c3c;
    color: white;
}

.admin-table td a.red {
    color: darkred;
}

.admin-table td, .admin-table th {
    text-align: left;
}

.admin-table img {
    max-width: 8rem;
}
