/* Design header carousel*/

#headerCarousel {
    background: linear-gradient(135deg, #08c1ef 0%, #c9e265 100%);
}

/*slide*/
#slider {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 2rem;
    max-width: 70vw;
    margin: 0 auto;
}


@media screen and (max-width: 650px) {
    #slider {
        max-width: unset;
    }
}
