/* Design header carousel*/

#headerCarousel {
    background: linear-gradient(135deg, #08c1ef 0%, #c9e265 100%);
}

/*slide*/
#slider {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 2rem;
}
