/* DESIGN PAGE ADMIN */
.menuAdmin {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 15%;
    padding: 1rem;
    box-shadow: 0 0 15px 0 #6c757d;
    background-color: #2f323a;
}

.menuAdmin > div:hover div {
    display: block;
}

/*avatar admin*/
#imgAdmin {
    border-radius: 50% !important;
    height: 5rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

/*menu a*/
.containerAdmin * a {
    text-decoration: none;
    padding-top: 3rem;
    color: white;
}

.containerAdmin * a:hover {
    color: #4ECDC4;
    transition: all 0.3s ease;
}

.containerAdmin {
    width: 100%;
}

.right {
    text-align: center;
    float: right;
    margin-top: -31rem;
    margin-right: 29rem;
}

.right span {
    display: block;
    margin-bottom: 1rem;
}
