/*  Design profile user */
#profile-actions {
    margin-left: 2rem;
    margin-top: 2rem;
    width: 33%;
    display: flex;
    justify-content: space-between;
}

.profile-container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    flex-direction: column;
}

#profile-content {

}

.profile-table {
    max-width: 60%;
    margin: 0 auto;
}

.profile-table th, .profile td {
    text-align: left;
    width: 1px;
    white-space: nowrap;
}

.imgAvatar img {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
}
