/**
 * Design profile user data
 */
#profile-actions {
    display: flex;
}

.profile-content {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

#profile-actions a.btn-primary {
    margin: 2rem 3rem 4rem 0;
}

table.profile-table {
    margin: 0 auto 6rem;
}

table.profile-table th, table.profile-table td {
    text-align: left;
    width: 1px;
    white-space: nowrap;
    border: none;
}

div.profile-table h2 {
    text-align: left;
    margin-top: 4rem;
}

div.profile-table {
    width: 72%;
    padding-bottom: 5rem;
}

.imgAvatar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgAvatar img {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
}

.imgAvatar > span {
    margin-top: 1rem;
    text-transform: capitalize;
    font-weight: bold;
}

.user-profile-menu nav {
    padding: 2rem;
    margin-top: 3rem;
    border-radius: 0.8rem;
    line-height: 3.5rem;
}

.user-profile-menu nav ul li {
    list-style-type: none;
}

.user-profile-menu nav ul li a {
    text-decoration: none;
    color: inherit;
}

.user-profile-menu nav ul li i {
    margin-right: 0.5rem;
}

/*table*/
table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 2rem;
}

table th {
    border: 0.1rem solid #6c757d;
}

/*tbody table*/
table td {
    border: 0.1rem solid #6c757d;
    font-size: 2rem;
}

table th, table td {
    padding: 1rem;
}

@media screen and (max-width: 1250px) {

    html {
        font-size: 60%;
    }

    div.profile-table {
        width: 62%;
    }
}

@media screen and (max-width: 950px) {

    .profile-content {
        flex-direction: column;
    }

    .user-profile-menu {
        width: 70%;
        margin-bottom: 4rem;
    }

    div.profile-table {
        width: 100%;
    }

    table.profile-table th, table.profile-table td {
        white-space: break-spaces;
        word-break: break-all;
    }

    #profile-actions a.btn-primary {
        margin: 1rem 1rem 3rem 0;
    }
}

@media screen and (max-width: 450px) {

    html {
        font-size: 50%;
    }

    #profile-actions {
        flex-direction: column;
        align-items: stretch;
    }

    .profile-container {
        width: 90%;
    }

    .user-profile-menu {
        width: 95%;
    }
}
