.search-container {
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin: 1rem auto;
}

.search-container{
    max-width: 60%;
}

.search-container select, .search-container input {
    margin-top: 3rem;
}

.search-container input {
    padding: 1rem;
    margin-left: 0;
}

.search-container .btn {
    padding: inherit;
}

h2.search-container-title {
    font-size: 3rem;
    margin-bottom: 5rem;
}