@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

/**
 * General style.
 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    font-size: 1.4rem;
    font-family: Roboto, serif;
    color: #3c3c3c;
    overflow-x: hidden;
    line-height: 3.5rem;
}

section {
    margin-top: 4rem;
}

h1+hr {
    margin-top: 1rem;
}

h2 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.8rem;
    color: #08C1EFFF;
}

#container {
    margin: 0 auto;
    width: 100%;
}

.internal-container {
    display: flex;
    width: 90%;
    flex-direction: column;
    min-height: calc(100vh - 38rem);
    margin: 3rem auto 0;
}


/**
 * Styling menu and mobile menu.
 */
.mobile-menu, .mobile-menu-content {
    display: none;
}

nav {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 1.5rem 0 #6c757d;
    width: 100%;
    padding: 1%;
    cursor: pointer;
    position: relative;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30rem;
}

.menu > div {
    margin-right: 2.5rem;
}

.menu a {
    text-decoration-line: none;
    color: #3c3c3c;
}

.menu a > i {
    margin-right: 1rem;
}

.menu a:hover {
    color: #C9E265;
}

.menu-active {
    color: #08c1ef !important;
}

/**
 * Site header style.
 */
#site-logo {
    max-width: 13rem;
}

.site-tite {
    text-align: center;
}

#menu-user-avatar {
    max-width: 4rem;
    border-radius: 50%;
}

.menu a > img {
    padding-right: 0.5rem;
    vertical-align: bottom;
}

/**
 * Design of 'Qu'est ce que LocalTroc' 3 bottom icons.
 */
.site-description {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    text-align: center;
    max-width: 60%;
    margin: 3rem auto 0;
}

.site-description-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.site-description i {
    border-radius: 50%;
    background-color: #75d8f7;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 10rem;
    color: white;
    font-size: 5rem;
}

.site-description i:hover {
    color: white;
    background-color: #c9e265;
    transition: background-color 0.5s linear;
}

.site-description p {
    text-align: center;
    margin-top: 1rem;
    color: #3c3c3c;
    text-transform: capitalize;
}

/**
 * Styling call to inscription ( call to action )
 */
.callToAction {
    background: linear-gradient(135deg, #08c1ef 0%, #c9e265 100%);
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 5.5rem 0;
    padding: 2rem;
    font-size: 2.5rem;
    line-height: 5rem;
    color: white
}

/**
 * Last added services.
 */
.container-last-services {
    width: 60%;
    margin: 0 auto;
}

.container-last-services hr {
    margin-bottom: 6rem;
}

.container-last-services h1 {
    margin-top: 2rem;
}

.last-service {
    margin-bottom: 6rem;
}

.service-image {
    box-shadow: 1px 1px 12px #555;
    padding: 1rem;
    margin-right: 3.5rem;
}

.service-image img {
    max-width: 20rem;
}

.service-detail {
    margin-top: 1.5rem;
    line-height: 2.2rem;
}

.service-detail span {
    font-size: 1.3rem;
    font-style: italic;
}

.service-detail h2 {
    text-align: left;
    margin: 0;
    line-height: 3rem;
}

.service-description {
    display: flex;
    margin-top: 1.5rem;
    align-items: flex-start;
}

.service-description-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

/**
 * Styling info page ( specific to the info page ).
 */
.site-info {
    margin-top: 2rem;
}

.site-info h2 {
    text-align: left;
    margin-top: 5rem;
}

.site-info h3 {
    margin-top: 4rem;
    margin-bottom: 1.5rem;
}

.site-info ul {
    list-style-type: none;
    margin-left: 5rem;
}

.site-info ul li {
    line-height: 4rem;
}

.site-info p:last-child {
    margin-top: 2rem;
}

.no-margin {
    margin: 0;
}

/**
 * Setting style to two button used in the whole site.
 */
.btn {
    transition: all 0.2s ease-in-out;
    text-align: center;
    padding: 0.1rem 1.5rem 0.1rem 1.5rem;
    border: 2px solid #fff;
    color: white;
    background-color: transparent;
    border-radius: 1.2rem;
    font-size: 2rem;
    line-height: 1.8;
    cursor: pointer;
    text-decoration-line: none;
    margin: 1rem 0;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}

.btn-primary {
    background: linear-gradient(135deg, #08c1ef 0%, #c9e265 100%);
}

.btn-secondary {
    background-color: #3c3c3c;
}

.text-center {
    text-align: center;
    margin-top: 2rem;
}

.bold {
    font-weight: bold;
}

/**
 * Styling footer
 */
footer .share {
    width: 40%;
    display: flex;
    justify-content: space-around;
    font-size: 3rem;
}

footer .share div {
    padding: 0.8rem;
}

footer .share div > a  i {
    font-size: 3.5rem;
}

footer .share a {
    text-decoration: none;
    color: inherit;
}

footer > div:first-child {
    font-weight: bold;
    font-size: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem;
    margin-bottom: 3rem;
    margin-top: 2rem;
}

footer {
    margin-top: 4rem;
    background: linear-gradient(135deg, #08c1ef 0%, #c9e265 100%);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
}

#copyright {
    display: block;
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 2rem;
    margin-top: 2rem;
}

/**
 * Responsive mode.
 */
@media screen and (max-width: 950px) {

    h2 {
        font-size: 2.5rem;
    }

    .btn {
        font-size: 1.5rem;
        padding: 0.2rem 1rem;
    }

    .container-last-services {
        width: 90%;
    }
}

@media screen and (max-width: 650px) {
    .site-description i {
        font-size: 3rem;
        width: 8rem;
        height: 8rem;
    }

    .site-description {
        max-width: 80%;
    }

    .callToAction {
        font-size: 2rem;
        line-height: 4rem;
        color: white
    }

    .container-last-services {
        width: 80%;
    }

    .service-description {
        flex-direction: column;
    }

    .service-image {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 390px) {

    .mobile-hidden {
        display: none;
    }

    .menu {
        display: none;
    }

    .mobile-menu, .mobile-menu-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        margin-right: 1rem;
    }

    .mobile-menu-content {
        display: none;
        margin-right: 0;
        position: absolute;
        top: 5rem;
        background-color: white;
        padding: 2.5rem;
        right: 1rem;
        box-shadow: 0 0 1.5rem 0 #6c757d;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .mobile-menu-content a {
        text-decoration: none;
        line-height: 4rem;
        color: inherit;
        min-width: 18rem;
    }

    .site-description i {
        font-size: 2.5rem;
        width: 6rem;
        height: 6rem;
    }

    h2 {
        font-size: 2rem;
    }

    .btn {
        font-size: 1.3rem;
    }
}