@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: large;
}

body {
    width: 100%;
    font-size: 15px;
    font-family: cursive, serif;
}

#container {
    margin: 0 auto;
    width: 100%;
}

/* menu */
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1%;
    position: relative;
    height: 5.5rem;
    box-shadow: 0 0 15px 0 #6c757d;
    cursor: pointer;
}

.submenu {
    display: none;
    position: absolute;
    top: 5.5rem;
    padding: 1rem;
    background: #fff;
    box-shadow: 0 12px 7px -5px #6c757d;
}

/*menu a*/
.submenu > * {
    display: block;
}

.submenu a {
    text-decoration: none;
    padding-top: 1rem;
    color: black;
}

/*le logo*/
#myLogo {
    max-width: 13rem;
}

/*design rond */
.font {
    margin: 8rem;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    height: 6rem;
}

.font i {
    border-radius: 50%;
    background-color: #75d8f7;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    color: white;
}

.font i:hover {
    color: white;
    background-color: #c9e265;
    transform: scale(1.5);
}


.text {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.text p {
 justify-content: center;
 align-items: center;
 color: #c9e265;
 text-align: center;
}

.text p:hover {
    color: #08c1ef;
    font-style: italic;
    font-weight: bold;
    font-size: xx-large;
    transform: scale(1.0);
}

h2 {
    position: relative;
    text-align: center;
    margin-top: 5rem;
    font-size: xxx-large;
}

/*design div2*/
#div2 {
    background: linear-gradient(135deg, #08c1ef 0%, #c9e265 100%);
    width: 100%;
    height: 11rem;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

/*text*/
#brefText {
    color: white;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

#brefText span {
    font-weight: bold;
}

.btn {
    transition: all 0.2s ease-in-out;
    margin-top: 1rem;
    text-align: center;
    padding: 5px 28px;
    border: 2px solid #fff;
    color: white;
    background-color: transparent;
    border-radius: 30px;
    font-size: 1rem;
    line-height: 1.8;
    cursor: wait;
}

.btn {
    transition: all 0.2s ease-in-out;
    margin-top: 1rem;
}

/*section3*/
#div3 {
    text-align: center;
    font-weight: bold;
    color: #08c1ef;
    padding: 2rem;
    font-size: 2.5rem;
}

/*search-bar*/
#search-bar {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    height: 8rem;
    padding: 2rem;
}

#search-bar input {
    border-radius: 20rem;
    margin: 1rem;
    padding: 1rem;
    border-color: black;
    border-style: double;
    text-align: center;
}

#search-bar button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 6rem;
    border-style: hidden;
    background-color: #08c1ef;
    color: white;
    width: 4rem;
}

#search-bar button:hover {
    background-color: #c9e265;
}

/*  DIAPO*/
#titleDiapo {
    position: relative;
    text-align: center;
    margin: 2rem;
    font-size: xxx-large;
}

.diapo {
    position: relative;
    overflow: hidden;
    width: 80%;
    margin: auto;
}

/*placement arrows*/
#navRight, #navLeft {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    color: black;
    font-size: 3em;
}

#navRight {
    right: 20px;
}

#navLeft {
    left: 20px;
}

/*placement diapo*/
.elements {
    display: flex;
    transition: 1s linear;
}

.element {
    flex: 1 0 100%;
    position: relative;
}

/*size img*/
.element > img {
    width: 100%;
}

/*text*/
.caption {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: white;
    padding: 30px;
}

/*user satisfaction*/
#div5 {
    width: 100%;
    height: 11rem;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

#textHappy span {
    color: #c9e265;
    display: block;
    font-size: xx-large;
    margin-bottom: 1rem;
    width: 50rem;
}

#barHappy {
    background: linear-gradient(135deg, #08c1ef 0%, #c9e265 100%);
    font-size: xx-large;
    margin-bottom: 3rem;
    width: 50rem;
    border-radius: 35px 35px 35px 35px;
}

#happyBar {
    display: flex;
    justify-content: space-between;
    text-align: center;
}


#div4 {
    background: linear-gradient(135deg, #08c1ef 0%, #c9e265 100%);
    width: 100%;
    height: 11rem;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    color: white;
}

#div4 span {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem;
    padding: 1rem;
    /*font-size: 3rem;*/
}

/* last users review*/
#section6 {
    background: linear-gradient(135deg, #08c1ef 0%, #c9e265 100%);
    width: 100%;
    height: 11rem;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: end;
    margin-top: 16rem;
}

/* user review*/
.rectangle {
    margin: 2rem 1rem;
    background-color: #ffffff;
    box-shadow: 0 15px 35px grey, 0 5px 15px #6c757d;
    transition: transform 0.3s;
    transform: translate3d(0,-1px,0);
    width: 22rem;
    height: 22rem;
}
/*avatar*/
.image {
    display: flex;
    justify-content: center;
    height: 4rem;
}

.image {
    height: 6rem;
    width: 6rem;
    object-position: 100% 50%;
    background-image: url("/assets/img/avatar.png");
    background-position: 50% 50%;
    border-radius: 50% !important;
    background-size: cover;
    position: absolute;
    bottom: 20rem;
    left: 8rem;
    z-index: 1000;
}

.rectangle h2 {
    position: relative;
    text-align: center;
    margin-top: 2rem;
    font-size: xxx-large;
}

.descriptionTitle {
    margin-top: 3rem;
}

.description {
    padding: 2%;
    margin-top: 1rem;
}

.blue {
    color: #08c1ef;
    font-size: 20px;
}

.gras {
    font-weight: bold;
    font-style: italic;
    color: #c9e265;
    text-shadow: 2px 2px black;
}

.avis p {
    padding: 3%;

}
.lignes {
    color: #c9e265;
    opacity: 0.33;
    margin: 0.5rem;
}

.star {
     color: #08c1ef;
    display: flex;
    justify-content: center;
}

/*section7 */
#section7 {
    font-weight: bold;
    padding: 2rem;
    font-size: 2.5rem;
    display: flex;
    justify-content: flex-end;
}
/*helpContact*/
#helpContact {
    border-radius: 50%;
    background-color: #75d8f7;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    color: #c9e265;
}

#helpContact:hover {
    transform: scale(1.5);
}

/*last create service*/
#section8 {
    background: linear-gradient(135deg, #08c1ef 0%, #c9e265 100%);
    width: 100%;
    height: 11rem;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: end;
    margin-top: 0;
    margin-bottom: 20rem;
}

/*title subject*/
.subjectRectangle {
    margin-top: 0;
}

.descriptionRectangle {
    padding: 2%;
    margin-top:  1rem;
}

.imageRectangle {
    height: 6rem;
    width: 6rem;
    object-position: 100% 50%;
    background-image: url("/assets/img/avatar.png");
    background-position: 50% 50%;
    border-radius: 50% !important;
    background-size: cover;
    position: absolute;
    bottom: 20rem;
    left: 8rem;
    z-index: 1000;
}

.helpRectangle {
    background-color: #ffffff;
    box-shadow: 0 15px 35px grey, 0 5px 15px #6c757d;
    transition: transform 0.3s;
    transform: translate3d(0,-1px,0);
    width: 22rem;
    height: 22rem;
    margin: 2rem 1rem -17rem;
}

/*my articles*/
#titleArtc {
    text-align: center;
    padding: 1%;
}

.containerArticles {
    margin : 2.5rem 5rem;
    padding: 1rem;
    width: 70%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.tooltip {
    width: 20rem;
    height: 10rem;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #75d8f7;
    color: #fff;
    text-align: center;
    border-radius: 15px;
    margin: 1rem;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the image */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    padding: 1%;
}

.containerArticles img {
    box-shadow: 0 15px 15px grey, 0 5px 15px #6c757d;
    margin-left: 8rem;
    width: 20rem;
    padding: 1.5%;
}

/*footer*/
footer {
    background: linear-gradient(135deg, #08c1ef 0%, #c9e265 100%);
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

/*share*/
.share {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-content: space-around;
    color: white;
    margin-top: 9rem;
    width: 80%;
}

.share div {
    margin: 0.8rem;
    width: 11rem;
}

.share i {
    height: 4rem;
    width: 45%;
    margin-bottom: 2rem;
    font-size: 2.5rem;
}

#span {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 2rem;
}

/*titleShare*/
.titleShare {
    font-weight: bold;
    color: white;
    font-size: 2rem;
    text-align: center;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem;
    margin-bottom: 6rem;
}

/* PROFILE USER */
.boxUser {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    padding: 1rem;
    margin: 1rem;
}

.imgAvatar img {
    height: 15rem;
    width: 15rem;
    border-radius: 50% !important;
}
/*pseudo*/
.pseudoUser {
    font-weight: bold;
    color: white;
    background-color: #6c757d;
    text-align: center;
    border-radius: 50%;
    height: 3rem;
    padding: 0.7rem;
    margin-top: 1.5rem;
    text-transform: full-width;
}

/*animation image*/
.boxUser * img:hover {
    transform: scale(1.2);
}

.infoDiv {
    font-size: large;
    display: flex;
    flex-direction: row;
    text-transform: full-size-kana;
    list-style: none;
    justify-content: flex-end;
    align-content: center;
    align-items: end;
}

hr {
     opacity: 0.33;
     color: #08c1ef;
     position: relative;
     z-index: -1;
}

/*info profil*/
.infoDiv * li {
    list-style: none;
    margin-top: 0.7rem;
    padding-left: 1.7rem;
    display: flex;
    justify-content: space-between;
    font-size: x-large;
}

/*profile animation about*/
.infoDiv li:first-child:hover {
    color: #c9e265;
    font-weight: bold;
    font-size: 26px;
}

/*star alignment*/
.infoDiv div {
    margin-right: 19.5rem;
}

/*borders on other and favorite Activity*/
.infoDiv li:last-child, #border {
    border: 3px inset turquoise;
    border-radius: 15px;
    height: 10rem;
    padding: 1rem;
    display: inline-flex;
    margin-right: 0.7rem;
}

/*DESIGN PAGE ADMIN*/
.menuAdmin {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 15%;
    padding: 1rem;
    box-shadow: 0 0 15px 0 #6c757d;
    background-color: #2f323a;
}

.menuAdmin > div:hover div {
    display: block;
}

/*avatar admin*/
#imgAdmin {
    border-radius: 50% !important;
    height: 5rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

/*menu a*/
.containerAdmin * a {
    text-decoration: none;
    padding-top: 3rem;
    color: white;
}

.containerAdmin * a:hover {
    color: #4ECDC4;
    transition: all 0.3s ease;
}

.containerAdmin {
    width: 100%;
}

.right {
    text-align: center;
    float: right;
    margin-top: -31rem;
    margin-right: 29rem;
}

.right span {
    display: block;
    margin-bottom: 1rem;
}

/* DESIGN  result QUICK SEARCH */
.containerSearch {
    margin: 5rem;
}
/*table*/
table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
/*thead table*/
thead {
    background-color: #08c1ef;
    color: white;
}

table th {
    border: 3px solid #6c757d;
}
/*tbody table*/
table td {
    border: 3px solid #6c757d;
    background-color: #D3DCA5;
    color: white;
    font-size: 2rem;
}

table th, table td {
    padding: 1rem;
}

table i {
    font-size: x-large;
}
/*avatar user image*/
.containerSearch img {
    border-radius: 50% !important;
    height: 10rem;
    width: 10rem;
    margin: 2%;
    padding: 2%;
}

/*Design click message ( result search)*/
.containerMessage {
    margin:4rem 15rem;
    display:flex;
    flex-flow: row;
    justify-content: flex-start;
    border: 3px solid #6c757d;
    width:60%;
}
/*form*/
.containerMessage form {
    width: 100%;
    padding: 2%;
    text-align: left;
}

.containerMessage hr {
    margin-top: 2rem;
}

.containerMessage textarea {
    margin: 3rem 8rem;
    justify-content: flex-end;
    padding: 2%;
}

.containerMessage button {
    margin: 1rem 55rem;
    padding: 1%;
    justify-content: flex-end;
    background-color: #08c1ef;
    border: 2px solid #08c1ef;
    color: white;
}
/*animation button*/
.containerMessage button:hover {
    background-color: #c9e265;
    border: 2px solid #c9e265;
}

/* CREATE SERVICE*/
#createServ h3 {
    text-decoration: #c9e265 underline overline;
    font-size: 3rem;
    text-align: center;
}

#createServ {
    margin: 2rem;
    padding: 1rem;
    border: 3px solid turquoise;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 50%;
}

#createServ * input {
    margin-top: 2rem;
}

#createServ div {
    margin-top: 2rem;
}
/*#createServ input[name*="fichier"] {
    margin-top: 2rem;
}
*/
#createServ textarea {
    margin-top: 2rem;
}

#createServ button {
    display: flex;
    width: 10rem;
    height: 2rem;
    margin: 2rem 16rem;
}

/*DESING OPINION SERVICE*/
.opinion {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    text-align: center;
    margin: 3rem;
    padding: 3rem;
    border: 3px solid turquoise;
}

.opinion h3 {
    text-decoration: #c9e265 underline overline;
    font-size: 3rem;
    text-align: center;
}

