@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: large;
}

/*nav */
.nav-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    width: 100%;
    height: 5.5rem;
    background-color: white;
    box-shadow: 0 0 15px 0 #6c757d;
}

/*menu a*/


/*le logo*/
#logo {
    display: block;
    max-width: 13rem;
    height: auto;
}

/*section*/
.section1 {
    background: linear-gradient(135deg, #08c1ef 0%, #c9e265 100%);
    width: 100%;
    height: 38rem;
}

/*videoImg*/
#videoImg {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 2rem;
}

.videoImg {
    width: 50%;
    height: 31vw;
    display: flex;
    margin-left: 27rem;
    box-shadow: rgb(108, 117, 125) 2px 1px 8px 5px;
    margin-top: 3rem;
}

/*my "slide"*/
.font {
    margin: 8rem;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 91rem;
    height: 6rem;
}

.font i {
    border-radius: 50%;
    background-color: #75d8f7;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    color: white;
}

.font i:hover {
    color: white;
    background-color: #c9e265;
}

/*text slide*/
.text {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.text  div {
 justify-content: center;
 align-items: center;
 color: #c9e265;
 text-align: center;
 margin: -8rem;
}

.text div:hover {
    color: #08c1ef;
    font-style: italic;
    font-weight: bold;
    font-size: xx-large;
}

h2 {
    position: relative;
    text-align: center;
    margin-top: 10rem;
    font-size: xxx-large;
}

/*section2*/
#section2 {
    background: linear-gradient(135deg, #08c1ef 0%, #c9e265 100%);
    width: 100%;
    height: 11rem;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

#section2 img {
    height: 5rem;
    width: 100%;
}

/*text*/
#brefText {
    color: white;
    display: flex;
    flex-flow: column;
    justify-content: space-around;

}

#brefText span {
    font-weight: bold;
}

.btn {
    text-align: center;
    padding: 5px 28px;
    border: 2px solid #fff;
    color: white;
    background-color: transparent;
    border-radius: 30px;
    font-size: 1rem;
    line-height: 1.8;
    cursor: wait;
}

.btn {
    transition: all 0.2s ease-in-out;
    margin-top: 1rem;
}

#section3 {
    text-align: center;
    font-weight: bold;
    color: #08c1ef;
    padding: 2rem;
    font-size: 2.5rem;
}
/*search-bar*/
#search-bar {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    height: 8rem;
    padding: 2rem;
}

#search-bar input {
    border-radius: 20rem;
    margin: 1rem;
    padding: 1rem;
    border-color: black;
    border-style: double;
    text-align: center;
}

#search-bar button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 6rem;
    border-style: hidden;
    background-color: #08c1ef;
    color: white;
    width: 4rem;
}

#search-bar button:hover {
    background-color: #c9e265;
}

#section4 {
    background: linear-gradient(135deg, #08c1ef 0%, #c9e265 100%);
    width: 100%;
    height: 11rem;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    color: white;
}
#section4 span {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem;
    padding: 1rem;
    /*font-size: 3rem;*/
}

/*my articles*/
#titleArtc {
    text-align: center;
}

#articles {
    padding: 5rem;
    display: flex;
    flex-flow: row ;
    justify-content: center;
}

#articles div {
    display: flex;
    justify-content: space-between;
}

/*carousel*/
.item {
    margin: 1rem 1rem;
    background-color: #ffffff;
    box-shadow: 0 15px 35px grey, 0 5px 15px #6c757d;
    transition: transform 0.3s;
    transform: translate3d(0,-1px,0);
    width: 22rem;
    height: 22rem;
}

.itemImg {
    width: 100%;
    padding: 2%;
}

.item:hover {
    transform: translate3d(0,-10px,0);
}

.itemDescription {
    color:#08c1ef;
    display: flex;
    padding: 5%;
    width: 100%;
}

.item {
    position:relative;
}

.carousel__container {
    transition: transform 0.3s;
    transform: translate3d(0,0,0);
}
/*carousel === même hauteur élément, grâce à table*/
.carousel__container::after {
    content: '';
    clear: both;
    display: table;
}

/*pour qu'il s'aligne à gauche*/
.carousel__item {
    float: left;
}

/*conttrol carousel*/
.carrouselControl {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
}
.carousel__next {
    background: transparent url('../img/left.png') center center no-repeat;
    right: 7px;
}

.carousel__prev {
    background: transparent url("../img/right.png") center center no-repeat;
    margin-top: -20px;
    right: auto;
    left: 7px;
}

.carousel__prev, .carousel__next {
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-size: 20px 20px;
    top: 50%;
    box-shadow: 0 15px 35px grey, 0 5px 15px #6c757d;
    margin-top: -20px;
    transition: transform 0.3s;
}

.carousel__next:hover, .carousel__prev:hover {
    transform: scale(1.5);
}

/*footer*/
footer {
    background: linear-gradient(135deg, #08c1ef 0%, #c9e265 100%);
    width: 100%;
    height: 11rem;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    bottom: -132rem;
    position: absolute;
}


/*share*/
.share {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-content: space-around;
    color: white;
    margin-top: 9rem;
    width: 80%;
}

.share div {
    margin: 0.8rem;
    width: 11rem;
}

.share i {
    height: 4rem;
    width: 45%;
    margin-bottom: 2rem;
    font-size: 2.5rem;
}

#span {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 2rem;
}

/*titleShare*/
.titleShare {
    font-weight: bold;
    color: white;
    font-size: 2rem;
    text-align: center;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-start;
    top: 3rem;
    position: absolute;
}
